<!DOCTYPE = CSS>
*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f000ff;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* border: 1px solid #800080; */
    border-radius: 10px 10px 0 0;

}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f000ff;
    background-color: #ddd;
    width: 100%;
    height: 100vh;
    /* border: 1px solid #f000ff; */
}
.aba{
    background-color: #000080;
    color: #ddd;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    margin-right: 1px;
}
.abaSelecionada{
    background-color: #008080 !important;
}
